$background-color = #f9f9f9;
$text-color = #1f1f21;
$sub-text-color = #999;
$highlight-color = $primary-lv1 ;
$second-highlight-color = #25a6d9;
$border-color = #ccc;
$toolbar-background-color = #fff;
$toolbar-button-color = $primary-lv1;
$toolbar-text-color = #1f1f21;
$toolbar-border-color = #bbb;
$buttonbar-color = rgba(18,114,224,0.77);
$buttonbar-active-text-color = #fff;
$list-background-color = #fff;
$list-header-background-color = #eee;
$list-tap-active-background-color = #d9d9d9;
$tabbar-background-color = #fff;
$tabbar-text-color = #999;
$tabbar-highlight-text-color = $primary-lv1;
$tabbar-border-color = #ccc;
$switch-highlight-color = $primary-lv1;
$modal-background-color = rgba(0, 0, 0, 0.7);
$modal-text-color = #fff;
$alert-dialog-background-color = #f4f4f4;
$alert-dialog-text-color = #1f1f21;
$alert-dialog-button-color = $primary-lv1;
$alert-dialog-separator-color = #ddd;
$dialog-background-color = #f4f4f4;
$popover-background-color = white;
$popover-text-color = #1f1f21;
$notification-background-color = #dc5236;
$fab-text-color = #ffffff;
$fab-background-color = $primary-lv1;

//@import 'components'



