$background-color = $gray-lv9;
$text-color = $gray-lv1;
$sub-text-color = $gray-lv3;
$highlight-color = $primary-lv1;
$second-highlight-color = $primary-lv1;
$border-color = $gray-lv4;
$toolbar-background-color = #fff;
$toolbar-button-color = $primary-lv1;
$toolbar-text-color = $gray-lv1;
$toolbar-border-color = $gray-lv4;
$buttonbar-color = rgba(18,114,224,0.77);
$buttonbar-active-text-color = #fff;
$list-background-color = #fff;
$list-header-background-color = $gray-lv7;
$list-tap-active-background-color = $gray-lv5;
$tabbar-background-color = #fff;
$tabbar-text-color = $gray-lv3;
$tabbar-highlight-text-color = $primary-lv1;
$tabbar-border-color = $gray-lv4;
$switch-highlight-color = $primary-lv1;
$modal-background-color = rgba(0, 0, 0, 0.7);
$modal-text-color = #fff;
$alert-dialog-background-color = $gray-lv7;
$alert-dialog-text-color = $gray-lv1;
$alert-dialog-button-color = $primary-lv1;
$alert-dialog-separator-color = $gray-lv5;
$dialog-background-color = $gray-lv9;
$popover-background-color = #ffffff;
$popover-text-color = $gray-lv1;
$notification-background-color = $danger-lv1;
$fab-text-color = #ffffff;
$fab-background-color = $primary-lv1;

//@import 'components'



